@use 'sass:map';

$color-vars: (
  amaranth: #9F2B68,
  amber: #FFBF00,
  baby-blue: #89CFF0,
  bisque: #F2D2BD,
  black: #000000,
  blue-gray: 	#7393B3,
  bronze: #CD7F32,
  buff: #DAA06D,
  console-bg: #000000,
  console-text-color: #CD8974,
  celadon: #AFE1AF,
  charcoal: #36454F,
  cream: #FFFDD0,
  dark-pink: #AA336A,
  eggplant: #483248,
  emerald-green: #50C878,
  fern-green: #4F7942,
  golden-rod: #DAA520,
  grey: #808080,
  indigo: #3F00FF,
  jade: #00A36C,
  jet-black: #343434,
  licorice: #1B1212,
  light-blue: #ADD8E6,
  light-brown: #C4A484,
  matte-black: #191919,
  medium-grey: #222222,
  mulberry: #770737,
  neon-blue: #7AE7FF,
  neon-green: #66FF9A,
  neon-pale-blue: #74C8CD,
  neon-pale-green: #81CD74,
  neon-pale-red: #CD8974,
  neon-pale-yellow: #CDAA74,
  neon-pink: #FFA6E6,
  ochre: #CC7722,
  onyx: #353935,
  platinum: #E5E4E2,
  poppy: #E35335,
  rose: #F33A6A,
  sage-green: #8A9A5B,
  sienna: #A0522D,
  smoke: #848884,
  steel-blue: #4682B4,
  steel-grey: #71797E,
  teal: #008080,
  vanilla: #F3E5AB,
  vegas-gold: #C4B454,
  white: #FFFFFF,
);

$themes: (
  dark: (
    active-color: map.get($color-vars, neon-pink),
    error-color: map.get($color-vars, poppy),
    folder-bg: map.get($color-vars, amaranth),
    folder-tc: map.get($color-vars, platinum),
    navbar-bg: map.get($color-vars, matte-black),
    root-bg: map.get($color-vars, medium-grey),
    root-shadow: map.get($color-vars, black),
    root-shadow-neg: map.get($color-vars, black),
    root-text-color: map.get($color-vars, platinum),
    text-color-01: map.get($color-vars, vanilla),
  ),
  light: (
    active-color: map.get($color-vars, bronze),
    error-color: map.get($color-vars, poppy),
    folder-bg: map.get($color-vars, golden-rod),
    folder-tc: map.get($color-vars, onyx),
    navbar-bg: map.get($color-vars, light-brown),
    root-bg: map.get($color-vars, platinum),
    root-shadow: map.get($color-vars, onyx),
    root-shadow-neg: map.get($color-vars, white),
    root-text-color: map.get($color-vars, onyx),
    text-color-01: map.get($color-vars, jet-black),
  ),
);

@function get-color-rgb($value) {
  $red: red($value);
  $green: green($value);
  $blue: blue($value);
  @return $red,$green,$blue;
}

@mixin get-theme-vars() {
  @each $theme-name, $theme-vars in $themes {
    &[data-theme="#{$theme-name}"] {
      @each $var, $val in $theme-vars {
        --#{$var}: #{$val};
        --#{$var}-rgb: #{get-color-rgb($val)};
      }
    }
  }
}

@function get($color-name) {
  $color: map.get($color-vars, $color-name);
  @if $color {
    @return $color;
  }
  @return var(--#{$color-name});
}

@function get-rgba($color-name, $alpha: 1.0) {
  $color: map.get($color-vars, $color-name);
  @if $color {
    $rgb-color: get-color-rgb($color);
    @return #{'rgba(#{$rgb-color},#{$alpha})'};
  }
  @return #{'rgba(var(--#{$color-name}-rgb),#{$alpha})'};
}
